section.projects {
  margin-top: 65px;
  height: fit-content;
}

section.projects .title {
  font-size: 50px;
  color: var(--title);
  letter-spacing: 1.5px;
}

section.projects .sub-title {
  font-size: 15px;
  color: var(--subtitle);
}

section.projects .box {
  margin-top: 65px;
  margin-bottom: 100px;
  gap: 10px;
}

@media (max-width: 1200px) {
  section.projects .box {
    flex-direction: column;
  }
}

section.projects .firts {
  min-width: 360px;
  min-height: 200px;
  margin-top: 65px;
  padding: 15px 10px 15px 13px;
  border-radius: 10px;
  transition: all 0.3s;
}

section.projects .firts:hover {
  background-color: var(--bgHeader);
}

section.projects .box .image {
  background-color: var(--bgHeader);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
}

section.projects .box img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  box-shadow: rgba(93, 188, 252, 0.3) 0px 2px 10px 0px;
}

section.projects .box .box-title {
  margin: 14px 0 14px 0;
  font-size: 20px;
  color: var(--title);
}

section.projects .box .box-subtitle {
  color: var(--subtitle);
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}

section.projects .box .links:hover {
  color: var(--blue);
  cursor: pointer;
  transition: all 0.6s;
}

section.projects .box .links .icon-link {
  color: var(--title);
}
section.projects .box .links .link-name {
  margin-left: 10px;
  color: var(--title);
}
